/* Cayla Doyle
Online Profile */

*{
    /* font-family: 'Oxygen', sans-serif; */
    font-family: 'Varela Round', sans-serif;
}


.shadowbox {
    box-shadow: 10px 8px #3a3880;
}

.bg-blue {
    background-color: #1d1d3b;
}